.textBox{
    width: 740px;
    text-align:start;
    margin-top: 130px;
}

.textBox > h1{
    padding-bottom: 46px;
}
.textBox > p{
    font-size: 25px;
    font-style: normal;    
    font-weight: 700;
    line-height: normal;
    padding-bottom: 46px;
    text-transform: uppercase;
}

.textBox>div{
    padding-bottom: 46px;
}
.iconColor{
    color:#3B629C;
}

.imageBox{
    width: 750px;
   height: 206px;
    background: linear-gradient(180deg, rgba(0, 102, 255, 0.00) 0%, rgba(0, 102, 255, 0.50) 100%);
}

.backGroundShadow{
    top: 396px;
    /* left:70px; */
}

.heroImg1{
    top: 38px;
    left: -70px;
}
.heroImg2{
    top: 56px;
    left: 200px;
}