.FAQ{
    /* padding: 100px 50px 50px 50px; */
    padding-top: 100px ;
    padding-bottom: 10px ;
}
.buttonText,p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.FAQmainDiv{
    padding-top: 180px;
}
.FAQSection{
    padding: 100px 180px;
    
}

.rotateIcon{
    transform: rotate(45deg);
}
.FAQSectionFlexBox{
    
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width:450px ){
    .FAQmainDiv{
        padding-top: 20px;
    }
    .FAQ{
        padding: 10px ;
    }
    .FAQSection{
        padding: 10px;
        
    }
    .FAQSectionFlexBox{
        padding-top: 10px;
        gap: 10px;
        flex-wrap: wrap;
        
    }
    .buttonText,p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      
      }
  }