.customPadding {
  padding: 0px 188px;
}

.imageWidth {
  width: 175px;
  height: 175px;
}

.paddingMenu {
  padding: 45px 0px;
  
}

.backgroundImg {
  background-image: url("/menuHoverEffect.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
  left: -10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.NavbarIconBox{
  gap: 20px;
  padding-left: 80px;
}
.text-container{
    display: grid;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.text-container:hover .backgroundImg {
  opacity: 1;
}



/* @media screen and (max-width:1280px){
  .customPadding {
    padding: 0px 100px;
  }
  
  .imageWidth {
    width: 75px;
    height: 75px;
  }
  
  .paddingMenu {
    padding: 30px 0px;
    
  }
  
  
  
  .text-container{
      display: grid;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
  }
  
  .text-container:hover .backgroundImg {
    opacity: 1;
  }
} */

/* @media screen and (max-width:1024px){
  .customPadding {
    padding: 10px 20px;
  }
  
  .imageWidth {
    width: 75px;
    height: 75px;
  }
  
  .paddingMenu {
    padding: 30px 0px;
    
  }
  
  .text-container{
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
  }
  
  .text-container:hover .backgroundImg {
    opacity: 1;
  }
} */

@media screen and (max-width:450px ){
  
  @keyframes hamburgerSlide {
    from {
      transform: translateX(-200px);
    }
    to{
      transform:  translateX(0px);
    }
  }
  

  .hamburgerDiv{
    width: 80%;
    top: -15px;
    left: 0px;
    animation: hamburgerSlide 0.5s ease 0s 1;
    /* transform: translateX(-150px); */
  }
  .customPadding {
    padding: 10px 20px;
  }
  
  .imageWidth {
    width: 50px;
    height: 50px;
  }
  
  .text-container{
      display: grid;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      cursor: pointer;
  }
  
  .text-container:hover .backgroundImg {
    opacity: 1;
  }
 
}