.BackStoryBox {
  padding: 0px 188px;
}
.groupImg{
    width: 700px;
    overflow: hidden;
}
.BcakStoryheroImg{
    right: 16%;
    top: 28%;
    width: 520px;
    
}
.textStory > p {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
  }
  

  @media screen and (max-width:450px ){
    .BackStoryBox {
      padding: 0px 0px;
    }
    .BackStoryBox > div{
      margin: 5px;
      border-top: 1px solid #fff;
    }
    .groupImg{
      width: 100%;
      overflow: hidden;
  }
  .BcakStoryheroImg{
      right: 16%;
      top: 28%;
      width: 70%;
      
  }

  }